@import '../../bower_components/skeleton/css/normalize.css';
@import '../../bower_components/skeleton/css/skeleton.css';

body {
  background-color: lightgray;
}

.headerBar {
  position: relative;
  width: 100%;
  /*max-width: 600px;*/
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
  background-color: white;
}

.profile {
  margin-bottom: -45px;
}

.profile_image {
  width: 100%;
  max-width: 500px;
}

.feed_button {
  border: white;
}

.following {
  padding-left: 0px;
}
.feed_button:hover {
  border-bottom: 5px solid #DEDD31;
  border-radius: 0px;
}
.name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -90%);
  border-top: 6px solid #EE2A7B;
  padding: 6px 10px 14px 10px;
  height: 30px;
  width: 160px;
  margin-bottom: -20px;
  background-color: white;
}

.location {
  font-family: Vidaloka;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.bio {
  font-family: "Times New Roman";
  font-size: 14px;
  position: relative;
  left: 18%;
  width: 80%;
  max-width: 500px;
  text-align: left;
  border-top: 1px solid #808285;
  padding-top: 25px;
}

.comments {
  border-top: 1px solid #808285;
}

.comment-button {
  border: white;
}

.comment-button:hover {
  background-color: #DEDD31;
}

.feed-image {
  position: relative;
  width: 95%;
  max-width: 500px;
  border-bottom: 8px solid #EE2A7B;
}

.pet-details {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
}

.default-feed {
  max-width: 500px;
  border-bottom: 1px solid #808285;
  margin: 0px auto;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: #231F20;
  text-transform: uppercase;
}

a:hover {
  color: #DEDD31;
  transition: 0.7s, linear;
}

.commenter {
  text-transform: uppercase;
  font-family: "Times New Roman";
  font-size: 10px;
  font-weight: 700;
  color: #EE2A7B;
}

.timestamp {
  font-family: "Times New Roman";
  font-size: 10px;
}

.comment {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .bio {
    font-family: "Times New Roman";
    font-size: 12px;
    position: relative;
    left: 8%;
    width: 80%;
    max-width: 500px;
    text-align: left;
    border-top: 1px solid #808285;
  }
}
