@import '../../bower_components/skeleton/css/normalize.css';
@import '../../bower_components/skeleton/css/skeleton.css';

.container {
  text-align: center;
}

.profile {
  margin-bottom: -45px;
}

.profile_image {
  width: 100%;
  max-width: 500px;
}

.name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -90%);
  border-top: 6px solid #EE2A7B;
  padding: 6px 10px 14px 10px;
  height: 30px;
  width: 160px;
  margin-bottom: -20px;
  background-color: white;
}

.location {
  font-family: Vidaloka;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.bio {
  font-family: "Times New Roman";
  font-size: 14px;
  position: relative;
  left: 18%;
  width: 80%;
  max-width: 500px;
  text-align: left;
  border-top: 1px solid #808285;
  padding-top: 25px;
}

.status_updates {
  border-top: 1px solid #808285;
}

.feed-image {
  position: relative;
  width: 100%;
  /*max-width: 500px;*/
  border-bottom: 8px solid #EE2A7B;
}

.pet-details {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
}

.default-feed {
  text-align: center;
  max-width: 500px;
  border-bottom: 1px solid #808285;
}

@media (max-width: 1100px) {
  .bio {
    font-family: "Times New Roman";
    font-size: 12px;
    position: relative;
    left: 8%;
    width: 80%;
    max-width: 500px;
    text-align: left;
    border-top: 1px solid #808285;
  }
}
