@import '../../bower_components/skeleton/css/normalize.css';
@import '../../bower_components/skeleton/css/skeleton.css';

.container {
  text-align: center;
}

.profile_image {
  width: 100%;
  max-width: 500px;
  height: 200px;
}

.name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  border-top: 6px solid #EE2A7B;
  padding: 6px 10px 14px 10px;
  height: 30px;
  width: 160px;
  background-color: white;
}

.bio {
  font-family: Vidaloka;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  text-align: left;
}

.location {
  font-family: Vidaloka;
  font-size: 12px;
  letter-spacing: 2px;
}

.feed-image {
  position: relative;
  width: 100%;
  /*max-width: 500px;*/
  border-bottom: 8px solid #EE2A7B;
}

.pet-details {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
}

.default-feed {
  text-align: center;
  max-width: 500px;
  border-bottom: 1px solid #808285;
}
