<div class="row">
  <div class="feed_header">
    <button ng-click="filter = !filter">filter-hamburger</button>
    <button>view-type</button>
    <button>notifications</button>
  </div>
  <div ng-show="filter" class="filter_modal">
    <form>
      <div>
        <label>Gender</label>
        <input type="checkbox" name="sex" value="male" checked>Male
        <input type="checkbox" name="sex" value="female">Female
      </div>
      <div>
        <label>Good with kids</label>
        <input type="checkbox" name="kid-friendly" value="" checked>Yes
        <input type="checkbox" name="kid-friendly" value="">No
      </div>
      <div>
        <label>Animal-friendly</label>
        <input type="checkbox" name="animal-friendly" value="" checked>Yes
        <input type="checkbox" name="animal-friendly" value="">No
      </div>
      <div>
        <label>Needs a fence</label>
        <input type="checkbox" name="fence" value="" checked>Yes
        <input type="checkbox" name="fence" value="">No
      </div>
      <div>
        <label>Age</label>
        <select>
          <option value="1"> 0 - 1
          <option value="2"> 1 - 3
          <option value="4"> 3 - 9
          <option value="4"> 10+
        </select>
      </div>
      <div>
        <label>Energy level</label>
        <input type="checkbox" name="energy-level" value="" checked>Calm/Serene
        <input type="checkbox" name="energy-level" value="">Playful
        <input type="checkbox" name="energy-level" value="">Boisterous
      </div>
      <div>
        <label> Breed</label>
      </div>
      <div>
        <label>Location</label>
      </div>
    </form>
  </div>
  <div class="row" ng-repeat="(id, pet) in petsData">
    <div class="default-feed six columns">
      <a href="/#/pet_profile/{{id}}">
        <img src="{{pet.imageURL}}" class="feed-image">
        <div class="pet-details">
          <h2 class="name">{{pet.petName}}</h2>
        </div>
      </a>
      <div class="pet-details">
        <h5 class="location">{{pet.petType}} | {{pet.sex}} | {{pet.city}}, {{pet.state}}</h5>
        <button>FOLLOW THIS DOG</button>
      </div>
    </div>
    <div class="following-feed">
    </div>
  </div>
</div>
